:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .view-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mat-toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;

        background: var(--mat-sys-surface-container);
        color: var(--mat-sys-on-surface-container);

        .mdc-icon-button.cdk-focused {
            background-color: var(--mat-sys-secondary);
            color: var(--mat-sys-on-secondary);
        }
    }
}